#hologlobe.service
# sudo ln -s /home/pi/hologlobe.service /etc/systemd/system/hologlobe.service
[Unit]
Description=Start hologlobe app

[Service]
WorkingDirectory=/home/pi
User=root
Group=root
Restart=always
ExecStart=/home/pi/hologlobe-armv7
#Environment=DISPLAY=:0
#Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket


[Install]
WantedBy=multi-user.target
